* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color:  #b3e6b3;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.login-container img {
    width: 70%;
    margin: 40px 40px;
    opacity: 0.8;
    border-radius: 100px;
}

.login-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.15);
}

.login-container form {
    margin: 20px;
}

.login-container button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color:darkseagreen;
    color: #FFF;
    margin-top: 20px;
    transition: 0.3s;
}

.login-container button:focus {
    outline: 2px solid #2e8b57;
}

.login-container button:hover {
    background-color: seagreen;
    cursor: pointer;
}

.login-container button:active {
    background-color: mediumseagreen;
}

.login-container input {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px; 
}

.login-container input:focus {
    border-bottom-color: seagreen;
}


